.play__submit-btn {
  font-size: 18px;
  line-height: 1.2;
  color: white;
  width: 358px;
  height: 50px;
  background-color: #000;
  border-radius: 2px;
  cursor: pointer;
  border: none;
  outline: none;
  margin: 12px 0 37px;
  border: 1px solid white;
}

.play__submit-btn:hover {
  opacity: 0.8;
}

@media screen and (max-width: 800px) {
  .play__submit-btn {
    font-size: 14px;
    line-height: 1.2;
    width: 238px;
    height: 46px;
    margin: 40px 22px;
  }
}
