.form__text {
  border: none;
  font-size: 14px;
  line-height: 1.2;
  width: 358px;
  height: 42px;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  padding: 0px 12px;
  margin-top: 12px;
  margin-bottom: 12px;
  box-sizing: border-box;
}

.form__text::placeholder {
  color: #000;
}