.footer {
  max-width: 880px;
  margin: 0 auto;
  padding: 60px 0;
  box-sizing: border-box;
  overflow: hidden;
}

@media screen and (max-width: 320px) {
  .footer {
    padding: 48px 19px 36px;
  }
}

@media screen and (max-width: 880px) {
  .footer {
    padding-left: 19px;
    padding-right: 19px;
  }
}